.btn {
  min-width: 215px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 10px 25px rgba(0,0,0,.15);
  transition: transform .15s ease, box-shadow .2s ease, background .2s ease;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.btn span{
  font-size: 0.70rem;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn__left,
.btn__right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 0.85rem;
  font-weight: 900;
  padding: 0.75rem 1rem; 
}

.btn__left {
  border: 2px solid var(--mapfre-red);
  border-right: none;
  background: #fff;
  color: var(--mapfre-red);
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

.btn__right {
  background: var(--mapfre-red);
  color: #fff;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border: 2px solid var(--mapfre-red); 
}

.btn:not(.btn--badge) {
  background: var(--mapfre-red);
  color: #fff;
  padding: 0.75rem 1.75rem;
  border-radius: 9999px;
  border: 2px solid var(--mapfre-red);
}

.btn--badge:hover .btn__left {
  background: #f8f8f8;
  color: #8E0E14;
  border-color: #8E0E14;
}

.btn--badge:hover .btn__right {
  background: #8E0E14;
}

@media (max-width: 480px) {
  .btn {
    min-width: 100%; 
  }

  .btn span{
    font-size: 0.65rem;
  }
  .btn__left,
  .btn__right {
    padding: 0.65rem 0.75rem; 
  }
}